// Colors
$color-primary-light: hsl(111, 55%, 64%);
$color-primary: hsl(140, 49%, 55%);
$color-primary-dark: hsl(160, 64%, 43%);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #ededed;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-dark: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// HEADER HEIGHTS
$header-height: 95dvh;
$header-poligon-height: 75dvh;

$header-poligon-height-phone: 85dvh;

// SHADOWS
$shadow-dark-1: 0 1rem 3rem rgba($color-dark, 0.15);
$shadow-dark-2: 0 1.5rem 4rem rgba($color-dark, 0.15);
$shadow-dark-3: 0 2.5rem 4rem rgba($color-dark, 0.5);

// SCREENS
$phone: 600px;
$tablet-portrait: 900px;
$tablet-landscape: 1200px;
$big-desktop: 1800px;
